
body {
  margin-bottom: 70px;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: #a2d2ff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.container-fluid {
    padding: 0;
}

.landing-container {
     height: 1000px;
    background-image: url('../images/landing-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    text-align: center;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px; 
    text-align: center;
    padding-top: 70px;
}

.margin-top {
    margin-top: 80px;
}

.custom-gradient {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

.custom-font-size {
    font-size: 20px;
}

.landing-p-size {
    font-size: 30px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.card-img-fixed {
  height: 200px;
  object-fit: cover;
}

form {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: calc(100% + 40px);
  margin-left: -20px;
}

form label, form button {
  color: #fff;
}

form textarea, form input {
  background-color: #555;
  color: #fff;
  resize: none;
}

.char-count {
  color: #fff;
  margin-top: 5px;
}

.btn-outline-secondary {
  border-color: #fff;
}

.submit-btn {
  width: 100%;
  margin-top: 15px;
}

.icons-container {
  text-align: center;
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.icons-container a {
  display: inline-block;
  margin: 0 10px;
}

.impressum-footer{
  margin-top: auto;
  margin-bottom: 0;
}